body {
    padding-top: 10px;
}

.navbar-brand {
    height: 60px;
    padding: 20px 70px;
    border: 1px solid;
}

.navbar-nav>li>a {
    border: 1px solid;
    text-align: center;
}

ol.breadcrumb {
    margin-top:10px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.bordered {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.bordered h2 {
    margin-top: 5px;
}

.bordered .price {
    float:right;
    margin-top: 26px;
    border: 1px solid #ddd;
    padding: 10px 15px;
    font-weight: bold;

}

.addToCart li{
    float: left;
    list-style: none;
}

.tab-pane {
    padding: 10px;
}

.moins, .plus {
    padding: 10px;
}

.qte {
    padding: 10px 20px;
}

.moins:hover, .plus:hover {
    text-decoration: none;
    background-color: #ddd;
}

.facettes {
    background-color: #f5f5f5;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    border-radius: 6px;
}

b.min-price {
    margin-right: 2px;
}

b.max-price {
    margin-left: 2px;
}

.product {
    max-height: 150px;
}

.description {
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

.thumbnail .img-responsive {
    max-height: 100px;
}

.price {
    float: left;
    text-align: right;
}

.price h3 {
    margin-top:10px;
}